.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*Đây là selector trong CSS – dùng để chọn các phần tử cụ thể cần áp dụng style. 
Chỉ áp dụng style cho những nút navbar có className="long-label"*/
.navbar-nav .nav-link.long-label {
  white-space: nowrap;
  /* Ngăn không cho xuống dòng khi văn bản quá dài.*/
  font-size: 1.1rem;
  /* hoặc nhỏ hơn nếu cần */
}

/*CSS cho nút chuyển đổi mode*/
.theme-toggle {
  position: fixed;
  top: 1rem;
  right: 5rem;
  font-size: 1.5rem;
  border: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
  z-index: 9999;
  /* 🟢 Đặt thật cao để đảm bảo không bị che */
}


.nav-label {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  /* hoặc 1.1rem nếu muốn to hơn */
  line-height: 1.4;
  vertical-align: middle;
  gap: 6px;
  /* khoảng cách icon và chữ */
}

.nav-icon {
  font-size: 1.2em;
  /* hoặc điều chỉnh nếu icon quá to */
  vertical-align: middle;
}

/* 06062025 */
.edu-logo-img {
  width: 220px;
  height: 140px;
  border-radius: 50%;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1.5px solid rgba(168, 85, 247);
  box-shadow: 0 0 8px rgba(168, 85, 247);
  transition: transform 0.2s ease-in-out;
  margin-right: 50px;
  overflow: hidden;
}


.edu-logo-img img {
  max-width: 75%;
  max-height: 75%;
  object-fit: contain;
}

.edu-logo-img:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(168, 85, 247, 0.2);
  /* Bóng đậm hơn khi hover */
}



/* Card view giống ProjectCard */
.project-card-view {
  border-radius: 10px;
  background-color: white;
  color: #333;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 8px rgba(168, 85, 247, 0.1);
}

.project-card-view:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 28px rgba(168, 85, 247, 0.2);
}


.edu-subtitle {
  color: var(--text-color);
  font-size: 16px;
  margin-bottom: 12px;
}

.edu-bullet-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  color: var(--text-color);
}

.edu-bullet-list li {
  margin-bottom: 6px;
  font-size: 15px;
}

.edu-details-text {
  color: var(--text-color);
  font-size: 15px;
  text-align: left;
}