@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Fira+Code:wght@400;500;600&display=swap");

/* Dành cho cả sáng và tối */
body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.3s ease;

  /* Chế độ sáng (mặc định) */
  background-color: #ffffff;
  color: #000000;
}

:root {
  --text-color: #111111;
  /* màu chữ đậm cho light mode */
}

/* Chế độ tối */
body.dark {
  background-color: #0d0d1f;
  --text-color: #ffffff;
  /*662025 */
  color: #ffffff;
  background-image: none !important;
  /* nếu có background-image thì xóa ở đây */
}

body.dark {
  --section-background-color: none;
  --image-gradient: none;
}

body.dark .project-section,
body.dark .about-section,
body.dark .resume-section,
body.dark .home-section {
  background-image: none !important;
  background-color: #0d0d1f !important;
}

body.dark {
  --text-color: #ffffff;
  /* màu chữ trắng cho dark mode */
}